
<h1><%= @task.title %></h1>
<h3><%= @task.details %></h3>
<% if @task.completed %>
<p><i class="far fa-check-square"></i> <%= 'Task has been completed' %></p>
<% else %>
<i class="far fa-square"></i> <%= 'Task is not completed yet' %>
<% end %>
<br>
<br>
<%= link_to 'Back to list', tasks_path %>
<br>
<br>
<%= link_to 'Edit this task', edit_task_path %>
<br>
<br>
<%= link_to "Delete #{@task.title}",
            task_path(@task),
            method: :delete,
            data: { confirm: "Are you sure?" } %>

